.main{
	padding-top: 15px;
}
.description, .action{
	width: 300px;
	margin: 10px auto 10px auto;
	text-align: center;
}
.action .button{
	float: none;
}
.button{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	padding: 19px 24px;
	font-size: 24px;
	font-weight: 200;
	color: #fff;
	border: 0;
	border-radius: 6px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	transition: none;
}
.button:hover {
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.button:active {
	box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
	color: #fff;
	  text-shadow: 0 0 10px rgba(255,255,255,.25);
}
.button:hover{
	color: #ffffff;
	background-color: #0044cc;
	*background-color: #003bb3;
	text-decoration: none;
	background-position: 0 -15px;
	transition: background-position 0.1s linear;
}